* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

input {
    border-radius: 4px;
    margin-left: 12px;
}

h1 {
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(189, 155, 98);
    border-radius: 12px;
    margin: 12px;
    padding: 12px;
}
